*
{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body
{
    width: 100%;
    height: 100vh;
    background-color:black;
}
#logo
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#logo path:nth-child(1)
{
    stroke-dasharray: 370.3px;
    stroke-dashoffset: 370.3px;
    animation: animate 4s ease forwards 0.1s, 3s ease forwards fillWhite 5s;
    
    
}
#logo path:nth-child(2)
{
    stroke-dasharray: 713px;
    stroke-dashoffset: 713px;
    animation: animate 3s ease forwards 0.3s;
}
#logo path:nth-child(3)
{
    stroke-dasharray: 428.36px;
    stroke-dashoffset: 428.36px;
    animation: animate 3s ease forwards 0.6s;
}
#logo path:nth-child(4)
{
    stroke-dasharray: 268.36px;
    stroke-dashoffset: 268.36px;
    animation: animate 3s ease forwards 0.9s;
}
#logo path:nth-child(5)
{
    stroke-dasharray: 268.36px;
    stroke-dashoffset: 268.36px;
    animation: animate 3s ease forwards 1.2s;
}
#logo path:nth-child(6)
{
    stroke-dasharray: 407.32px;
    stroke-dashoffset: 407.32px;
    animation: animate 4s ease forwards 1.45s;
}
#logo path:nth-child(7)
{
    stroke-dasharray: 310.91px;
    stroke-dashoffset: 310.91px;
    animation: animate 3s ease forwards 1.8s;
}
#logo path:nth-child(8)
{
    stroke-dasharray: 465.47px;
    stroke-dashoffset: 465.47px;
    animation: animate 3s ease forwards 2.1s;
}
#logo path:nth-child(9)
{
    stroke-dasharray: 457.91px;
    stroke-dashoffset: 457.91px;
    animation: animate 3s ease forwards 2.4s;
}
#logo path:nth-child(10)
{
    stroke-dasharray: 407.32px;
    stroke-dashoffset: 407.32px;
    animation: animate 3s ease forwards 2.7s;
}
#logo path:nth-child(11)
{
    stroke-dasharray: 307.78px;
    stroke-dashoffset: 307.78px;
    animation: animate 3s ease forwards 3.0s;
}
#logo path:nth-child(12)
{
    stroke-dasharray: 464px;
    stroke-dashoffset: 464px;
    animation: animate 3s ease forwards 3.3s;
}
#logo path:nth-child(13)
{
    stroke-dasharray: 407.32px;
    stroke-dashoffset: 407.32px;
    animation: animate 3s ease forwards 3.6s;
}
#logo path:nth-child(14)
{
    stroke-dasharray: 301.86px;
    stroke-dashoffset: 301.86px;
    animation: animate 3s ease forwards 3.8s;
}


.main
{
    width: 100%;
    justify-content: space-around;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 98vh;
}
@keyframes animate
{
    to {
        stroke-dashoffset:  0;
    }
}
@keyframes fillWhite
{
    
    to {
        fill: #fff;
    }
}
@keyframes colour 
{
    from{
        filter: hue-rotate(60deg);
    }
    to {
        filter: hue-rotate(160deg);
    }


}
@keyframes fillGreen
{
    to {
        fill: #01fbde ;
    }
}
@keyframes time
{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100% {
        opacity: 100;
    }

}
@keyframes border
{
    from {
        border-bottom: transparent;
    }
    to {
        border-bottom: solid #01fbde 4px;
    }
}
button
{
    position: relative;
    display: flex;
    cursor: pointer;
    padding: 10px;
    border-radius: 12px;
    top: 150px;
    animation: time ease forwards 6.5s;
    text-shadow: #01fbde 0px 0px 20px 0px;
    color: #fff;
    transition: 2s;
    border: 4px #01fbde;
    font-size: 20px;
    background: transparent;
    font-weight: 600;
    border: 2px solid #fff;
    box-shadow: inset #7f7f7f 0px 0px 9px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
button:hover
{
    position: relative;
    display: flex;
    cursor: pointer;
    border-radius: 12px;
    top: 150px;
    text-shadow: #01fbde 0px 0px 20px;
    border: 2px #01fbde;
    color: #01fbde;
    border: 2px solid #fff;
    box-shadow: inset #7f7f7f 0px 0px 9px 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
